.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.autocomplete-wrapper {
  display: flex;
  column-gap: 10px;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  width: 250px;
  width: 100%;
}

.autocomplete {
  @media only screen and (max-width: 14300px) {
    width: 350px;
  }

  @media only screen and (max-width: 1130px) {
    width: 200px;
  }

  @media only screen and (max-width: 840px) {
    width: 90px;
  }
}
.previous-searched-travels-text {
  font-weight: 200;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1976d2;
  font-size: 22px;
}
