.cost-per-kilometer {
  position: absolute;
  width: 300px;
  z-index: 99999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
}


.generate-travel-summary {
  position: absolute;
  z-index: 99999;
  position: absolute;
  // top: 50%;
  left: 50%;
  // margin-top: 80px;
  transform: translateY(20%);
}